.zoom > div:last-child
{
  margin-top: 24px;
}

.zoom > div:last-child > :first-child
{
  margin-right: 12px;
}

.zoom .buttonSolid
{
  cursor: pointer;
}

.zoom .buttonSolid > input
{
  display: none;
}


