.manager > div:nth-last-child(2)
{
  margin-top: 24px;
}

.manager > div:nth-last-child(2) > button
{
  padding-left: 8px; 
  padding-right: 8px;
  padding-top: 3px; 
  padding-bottom: 3px;
}

.manager > div:nth-last-child(2) > :not(:last-child)
{
  margin-right: 12px;
}

.manager .romMessage
{
  color: limegreen;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  
  margin-left: auto;
  margin-right: auto;
}

