.patch > div > div:last-child
{
  margin-top: 24px;
}

.patch button:first-child
{
  margin-right: 12px;
}

.patch button
{
  cursor: pointer;
}

.patch > .warning
{
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

