.window-list
{
  flex-grow: 1;

  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  padding-left: 6.25rem;
  padding-right: 6.25rem;

  background: #404448;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-image: url("../../image/base/background.jpg");
}