.footer
{
	background-color: #202020;

	margin: 0px;
	padding: 0px;

	min-height: 90px;
	max-height: 90px;

	margin-top: auto;
}

.footer > div
{
	margin-top: auto;
	margin-bottom: auto;
	min-width: 100%;
}

.footer label, .footer a
{
	color: #f6a427;
	font-weight: bold;
	font-size: 1.4em;
}

.footer a
{
	margin-left: 12px;
	margin-right: auto;
}

.footer label
{
	margin-left: auto;
	margin-right: 12px;
}