.footer
{
  background-color: #202020;

  margin: 0px;
  padding: 0px;

  min-height: 90px;
  max-height: 90px;

  margin-top: auto;
  margin-left: auto;
}

.footer > label
{
  color: #f6a427;
  font-weight: bold;
  font-size: 1.4em;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 12px;
}