
.footer
{
	margin-top: auto;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	
	min-height: 90px;
	max-height: 90px;

	min-width: 100%;
}

.footer > div
{
	background-color: #202020;
	width: 100%;

	margin: 4px;

	border-radius: 6px;
  box-shadow: 0 0 4px 2px #202020;
}

.footer > div > div
{
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
}

.footer label, .footer a
{
	color: #F6A427;
	font-weight: bold;
	font-size: 1.4em;
}

.footer a
{
	margin-left: 12px;
	margin-right: auto;
	outline: none;
}

.footer label
{
	margin-left: auto;
	margin-right: 12px;
}