.windowBox
{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
	
	max-width: 60%;
	min-width: 60%;

	margin-top: 20px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;

	color: white;
	background-color:#f6a427B0;
	box-shadow: 0 0 4px 2px #202020;

}

.windowBox > .titlebar
{
	min-width: 100%;
}

.windowBox > .titlebar > label
{
	font-size: 1.5em;
	font-weight: bold;
	color: white;

	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.windowBox > .titlebar > div
{
	margin-top: auto;
	margin-bottom: auto;

	margin-left: auto;
}

.windowBox > .titlebar > div > button
{
	min-width: 24px;
	max-width: 24px;
	min-height: 24px;
	max-height: 24px;
}

.windowBox > .titlebar > div > button:first-child
{
	margin-right: 2px;
}

.windowBox > .titlebar > div > button:not(:last-child)
{
	margin-left: 2px;
	margin-right: 2px;
}

.windowBox > .titlebar > div > button:last-child
{
	margin-left: 2px;
}

.windowBox .windowText
{
	display: none;
}

.windowBox .windowText:not(:last-child)
{
	margin-bottom: 6px;
}

.windowBox > .windowContent
{
	margin-top: 24px;
	max-width: 100%;
	min-width: 100%;
}

.windowContentLine
{
	margin-top: 12px;
	max-width: 100%;
}

.windowContentLine > label
{
	margin-right: 12px;
	margin-top: auto;
	margin-bottom: auto;

	max-width: 48%;
}

.windowContentLine > input,
.windowContentLine > select
{
	margin-top: auto;
	margin-bottom: auto;

	max-width: 48%;

	padding-left: 4px; 
	padding-right: 4px;
	padding-top: 2px; 
	padding-bottom: 2px;
}


.windowContentLine > a
{
	font: 400 13.3333px Arial;
	text-decoration: none;
	display: inline-block;
}

.windowContentLine > button,
.windowContentLine > a
{
	padding-left: 8px; 
	padding-right: 8px;
	padding-top: 3px; 
	padding-bottom: 3px;
}

.windowSuccessMessage
{
	color: limegreen;
	font-weight: bold;
}

.windowErrorMessage
{
	color: #cd1226;
	font-weight: bold;
}