.footer
{
  background-color: #202428;

  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  
  width: 100%;
  min-height: 4rem;

  border: 0;
  border-top: 1px;
  border-style: solid;
  border-top-color: #707478;

  display: flex;
  flex-direction: row;
}

.footer div
{
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.footer span, .footer a
{
  color: #F8A828;
  font-weight: bold;
  font-size: 1.4em;

  margin-top: auto;
  margin-bottom: auto;
}

.footer a
{
  margin-left: 0.75rem;
  margin-right: auto;
  outline: none;
}

.footer a:hover
{
  color: #B02010;
}

.footer span
{
  margin-left: auto;
  margin-right: 0.75rem;
}